{erl_opts, [debug_info]}.

{lib_dirs, ["deps"]}.

{deps,
 [{lager, "3.9.2"},
  {cowboy, "2.10.0"},
  {erlexec, "2.0.7"},
  {jsx, "3.1.0"},
  {epgsql, "4.7.1"},
  {erlte, "0.1.0"},
  {depcache, "1.10.0"},
  {syn, "3.3.0"}]}.

{project_plugins, [rebar3_format]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [codequest_server]}]}.
